*{
    padding:0px;
    margin: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
    height:2000px;
    background:linear-gradient(to top,black,rgb(41, 25, 184));
}
#header{
    width: 100%;
    height:100px;
    display:flex;
    justify-content: space-around;
    align-items:center;
    position: fixed;
    background-color: black
}
#header .menu nav ul li{
    color: white;
    font-family: serif;
    list-style-type: none;
    font-size: 24px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
#Game{
    font-size: 38px;
    cursor: pointer;
    color:white;
}
span{
    color:rgb(29, 29, 214)
}

#matrix-bottom{
    margin-top: 150px;
    width:80%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
#matrix-bottom .bottom-child{
    width: 120px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    border-radius: 30px;
    transform: scale(1);
    cursor: pointer;
    font-size: 24px
}

#matrix-bottom .grass{
    background-color: rgb(0,220,0);
}
#matrix-bottom .grassEater{
    background-color: rgb(255,255,0);
}
#matrix-bottom .predator{
    background-color: rgb(255,0,0);
}
#matrix-bottom .fire{
    background-color: orange;
}
#matrix-bottom .water{
    background-color: lightblue;
}
#matrix-bottom .kill{
    background-color: rgb(0, 0, 0);
    color:white
}
#matrix-bottom .weather{
    background-color: green;
    width: 200px;
    animation: animateColor 2s linear infinite;
    color:white
}
#matrix-bottom .bottom-child:hover{
    transform: scale(1.1);
}







@keyframes animateColor{
    0%{
        filter:hue-rotate(0)
    }
    100%{
        filter:hue-rotate(360deg)
    }
}