body{
    height:100vh;
    background:linear-gradient(to top,black,rgb(41, 25, 184))
}
.header{
    width: 100%;
    height:50px;
    display:flex;
    justify-content: space-around;
    align-items:center;
}
.header .menu nav ul li{
    color: white;
    font-family: serif;
    list-style-type: none;
    font-size: 24px;
}
.Game{
    font-size: 38px;
}
.header .menu nav ul a{
    text-decoration: none;
    color:white;
}
